<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <!-- MIME Types pour PWA -->
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <mimeMap fileExtension=".ttf" mimeType="application/font-ttf" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>

    <!-- Cache Policies -->
    <httpProtocol>
      <customHeaders>
        <!-- Service Worker - Court cache -->
        <add name="Cache-Control" value="public, max-age=3600" />
      </customHeaders>
    </httpProtocol>

    <!-- URL Rewriting for PWA -->
    <rewrite>
      <rules>
        <rule name="PWA Assets" stopProcessing="true">
          <match url="^(pwa-.*\.png|apple-touch-icon\.png|favicon.*\.png|sw\.js|manifest\.webmanifest)$" />
          <action type="None" />
        </rule>

        <rule name="Static Files" stopProcessing="true">
          <match url="^(?!index\.php).*$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>

        <rule name="Directories" stopProcessing="true">
          <match url="^.*$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
          </conditions>
          <action type="None" />
        </rule>

        <rule name="Routes to Index.php">
          <match url="^.*$" />
          <action type="Rewrite" url="/index.php" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>

