# Terraform
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# Crash log files
crash.log
crash.*.log

# Variables sensibles (ne jamais commiter)
*.tfvars
!terraform.tfvars.example

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc

# SSH keys
*.pem
*.key
id_rsa*
